*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

header{
    margin-bottom: 1.5rem;
}


.container{
    margin: 0 auto;
    max-width: 90%;
    height:100vh;
}
.flex{
    display: flex;
}

.call-box{
    height:calc(100%/4) ;
    width: calc(100%/5);
    background-image: url('sea.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    border: 0.3rem solid black;
}

.account-name{
    color: white;
    background-color: rgba(100,112,122,0.7);
    position: absolute;
    bottom: 0;
    left: 0;
}

header .header-icon{
    color: white;
    background-color: hsl(0deg 0% 29.02%);
    padding: 0.2rem;
    margin-right: 0.2rem;
    border-radius: 5px;
}

header section{
    justify-content: end;
    padding: 0.5rem;
}

section.container.flex{
    flex-wrap: wrap;
}