*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main,
header{
    background-color: black;
}

.container{
    margin: 0 auto;
    max-width: 80vw;
}
.flex{
    display: flex;
}

.call-box{
    height:calc(100%/4) ;
    width: calc(100%/7);
    background-image: url('https://www.google.com/imgres?imgurl=https%3A%2F%2Fas1.ftcdn.net%2Fv2%2Fjpg%2F02%2F13%2F07%2F10%2F1000_F_213071072_8Yrs3qYnDC65UNbo7YR2x9kw7M491BYz.jpg&tbnid=nW-hJwc28SDLXM&vet=12ahUKEwiT7cjskKL-AhWDHuwKHSU0CbEQMygDegUIARDAAQ..i&imgrefurl=https%3A%2F%2Fwww.europosters.it%2Fbeautiful-white-town-monopoli-in-puglia-with-turquoise-sea-italy-f213071072&docid=fW-ZYLw2XXAESM&w=1000&h=407&q=sea%20monopoli&ved=2ahUKEwiT7cjskKL-AhWDHuwKHSU0CbEQMygDegUIARDAAQ');
    background-size: cover;
    background-position: center;

}
header .header-icon{
    color: white;
    background-color: hsl(0deg 0% 29.02%);
    padding: 0.2rem;
    margin-right: 0.2rem;
    border-radius: 5px;
}

header section{
    justify-content: end;
    padding: 0.5rem;
}